extends layout

block content
  h1= title
  if user_list.length
    ul
      each user in user_list
        li
          a(href=user.url) #{user.name}
          |  (task count : NOT IMPLEMENTED #{user.TaskCount})

  else
    p There are no users.
