extends layout

block content
  h1= title

  
  if user_list.length
    ul
      each user in user_list
        li
          
          a(href=`/tasks/${user.id}`) #{user.name}
          
          |  (task count: #{user.TaskCount || "NOT IMPLEMENTED"}) 

  else
    p There are no users.
